header{
    position: sticky;
    top: 0px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    height: 105px;
    z-index: 10;
}

header div a{
    transition: 0.5s;
}

header div a:hover{
    transition: 0.5s;
    margin-right: 15px;
    margin-left: 15px;
}